@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
  background: #f0f8ff;
}
.loader {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#ECECEC 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }

  .typing-animation {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 1s steps(20, end) forwards, blink 0.2s infinite;
  display: inline-block;
}

/* Typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


* {
  font-family: "Nunito", sans-serif !important;
  font-weight: 600;
}

:root {
  --text-12px: 12px !important;
  --mini-text: 13px;
  --mini-15px: 15px;
  --text: 16px;
  --mini-14px: 14px;
  --counts: 48px;
  --count-sm: 26px;
  --heading: 18px;
  --big: 40px;
  --semi-big: 20px;
  --big-font-weight: 700;
  --radius: 7px;
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --input-h: 35px;
  --main-bg: #003366;
  --text-white: #ffffff;
  --active-bg: #FF5722;
  /* --table-header-bg: #99D2FF; */
  --table-header-bg: #eff2f4;
  
  --text-black: #000000;
}


.scroll::-webkit-scrollbar {
  display: none;
}

.scrollcss::-webkit-scrollbar {
  width: 5px;
}

.scrollcss::-webkit-scrollbar-thumb {
  /* color: rgb(255,75,74); */
  background-color: rgba(58, 58, 58, 0.375);
  border-radius: 4px;
}

.scrollcss::-webkit-scrollbar-track {
  background-color: rgba(239, 239, 239, 0);
  border-radius: 4px;
}
